<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 my-3">
      <h1 class="text-center">Editar Contato</h1>

      <!-- Adicionando o CSRF Token -->
      <form action="/agenda/editar/<%= contato._id %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Campo CSRF -->

        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" name="nome" value="<%= contato.nome %>" required>
        </div>
        <div class="mb-3">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input type="text" class="form-control" name="sobrenome" value="<%= contato.sobrenome %>" required>
        </div>
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="text" class="form-control" name="telefone" value="<%= contato.telefone %>" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" value="<%= contato.email %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </form>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
